@import '_colors';
@import './components/search-box.scss';
@import './components/item-list.scss';
@import './components/item.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $light-gray;
  height: 100vh;
}
